{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Usuário {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="card card-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/usuario/salvarcadastrar" method="post" class="jsonForm">
                        <div class="card-body">
                            <div class="form-group row">
                                <h3>Cadastrar Usuário</h3>
                                <div class="form-group col">
                                    <a role="button" href="/usuario/" class="btn btn-info float-right"   ><span class="fas fa-list"></span></a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="nome_usuario">Nome</label>
                                    <input type="text" class="form-control" id="nome_usuario" name="nome_usuario" placeholder="Nome do Usuário" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="cpf_usuario">CPF</label>
                                    <input type="text" class="form-control" id="cpf_usuario" name="cpf_usuario" placeholder="CPF do Usuário" required>
                                </div>
                                <div class="form-group col">
                                    <label for="cpf_usuario">RG</label>
                                    <input type="text" class="form-control" id="rg_usuario" name="rg_usuario" placeholder="RG do Usuário">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="telefone_usuario">Telefone</label>
                                    <input type="text" class="form-control" id="telefone_usuario" name="telefone_usuario" placeholder="Telefone do Usuário">
                                </div>
                                <div class="form-group col">
                                    <label for="celular_usuario">Celular</label>
                                    <input type="text" class="form-control" id="celular_usuario" name="celular_usuario" placeholder="Celular do Usuário">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="endereco_usuario">Endereço</label>
                                    <input type="text" class="form-control" id="endereco_usuario" name="endereco_usuario" placeholder="Endereço do Usuário" required>
                                </div>
                                <div class="form-group col">
                                    <label for="cidade_usuario">Cidade</label>
                                    <input type="text" class="form-control" id="cidade_usuario" name="cidade_usuario" placeholder="Endereço do Usuário" required>
                                </div>
                                <div class="form-group col">
                                    <label for="cep_usuario">CEP</label>
                                    <input type="text" class="form-control" id="cep_usuario" name="cep_usuario" placeholder="Endereço do Usuário" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="user_usuario">Usuário</label>
                                    <input type="text" class="form-control" id="user_usuario" name="user_usuario" placeholder="Usuário" required>
                                </div>
                                <div class="form-group col">
                                    <label for="senha_usuario">Senha</label>
                                    <input type="text" class="form-control" id="senha_usuario" name="senha_usuario" placeholder="Senha do Usuário" required>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right">Salvar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/inputmask/jquery.inputmask.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('#cpf_usuario').inputmask('999.999.999-99');        
            $('#rg_usuario').inputmask('99.999.999-99');        
            $('#telefone_usuario').inputmask('(99) 9999-9999');
            $('#celular_usuario').inputmask('(99) 99999-9999');
            $('#cep_usuario').inputmask('99999-999');

            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem
                        });
                        $('.jsonForm').trigger("reset");
                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
