{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Usuário | Listagem{% endblock %}
{% block stylesheet %}
    <link href="/dist/js/jquery.bootgrid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}


{% block content %}
    <section class="content" id="listagem">
        <h3>Listagem de Usuário</h3>
        <div class="row">
            <div class="col-12">
                <a role="button" id="btn-listagem" href="/cliente/formCadastrar" class="btn btn-success"><span class="fas fa-user-plus"></span></a> 
                <table id="grid-data" class="table table-condensed table-bordered table-hover table-striped table-light">
                    <thead class="thead-light">
                    <tr>
                        <th data-column-id="id_usuario" >Código</th>
                        <th data-column-id="nome_usuario"     data-order="desc" data-sortable="true">Nome</th>
                        <th data-column-id="cpf_usuario"      data-order="desc" data-sortable="true">CPF</th>
                        <th data-column-id="rg_usuario"       data-order="desc" data-sortable="true">RG</th>
                        <th data-column-id="telefone_usuario" data-order="desc" data-sortable="true">Telefone</th>
                        <th data-column-id="celular_usuario"  data-order="desc" data-sortable="true">Celular</th>
                        <th data-column-id="endereco_usuario" data-order="desc" data-sortable="true" data-visible="false">Endereço</th>
                        <th data-column-id="cidade_usuario"   data-order="desc" data-sortable="true" data-visible="false">Cidade</th>
                        <th data-column-id="cep_usuario"      data-order="desc" data-sortable="true" data-visible="false">CEP</th>
                        <th data-column-id="user_usuario"     data-order="desc" data-sortable="true">Usuário</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false">Ações</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.bootgrid.js"></script>
    <script src="/dist/js/jquery.bootgrid.fa.js"></script>
    <script src="/dist/js/iziToast.js"></script>
    <script src="/dist/js/iziToastExcluir.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        var grid;
        $(document).ready(function(){
            grid = $("#grid-data").bootgrid({
                ajax: true,
                url: "/usuario/bootgrid",
                formatters: {
                    "commands": function(column, row)
                    {
                        return "<button type=\"button\" class=\"btn btn-danger command-delete\" data-row-id=\"" + row.id_usuario + "\"><span class=\"fa fa-trash\"></span></button>" +
                         "<button type=\"button\" class=\"btn btn-primary command-edit\" data-row-id=\"" + row.id_usuario   + "\"><span class=\"fas fa-edit\"></span></button> ";
                    }
                }
            }).on("loaded.rs.jquery.bootgrid", function()
            {
                grid.find(".command-edit").on("click", function(e)
                {
                    document.location = '/usuario/formeditar/' + $(this).data("row-id");
                }).end().find(".command-delete").on("click", function(e)
                {
                    iziToastExcluir($(this).data("row-id"));
                });
            });
        });


        function excluir(id_usuario){
            $.post(
                "/usuario/excluir",
                { id_usuario: id_usuario },
                function( data ) {
                    if (data.status==0){
                        iziToast.error({
                            message: data.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: data.mensagem
                        });
                        grid.bootgrid("reload");
                    }
                },
                "json"
            );
        }
    </script>


{% endblock %}

{% block javascript %}
{% endblock %}
