{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| cliente | Cadastrar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>cliente
                        <small>Cadastrar</small></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="breadcrumb-item active">cliente</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="card card-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/cliente/salvarCadastrar" method="post" class="jsonForm">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" id="nome_cliente" name="nome_cliente" placeholder="Nome do Cliente" required>
                            </div>
                            <div class="form-group">
                                <label for="nome">Cidade</label>
                                <input type="text" class="form-control" id="cidade_cliente" name="cidade_cliente" placeholder="Nome do Cliente" required>
                            </div>
                            <div class="form-group">
                                <label for="nome">Endereço</label>
                                <input type="text" class="form-control" id="endereço_cliente" name="endereço_cliente" placeholder="Nome do Cliente" >
                            </div>
                            <div class="form-group">
                                <label for="cpf_cliente">CPF</label>
                                <input type="text" class="form-control" id="cpf_cliente" name="cpf_cliente" placeholder="Nome do Cliente" >
                            </div>
                            <div class="form-group">
                                <label for="telefone_cliente">Telefone</label>
                                <input type="text" class="form-control" id="telefone_cliente" name="telefone_cliente" placeholder="Nome do Cliente" >
                            </div>
                            <div class="form-group">
                                <label>Sexo</label><br>
                                <input type="radio"  id="Masculino" name="sexo_cliente" value="Masculino" required>
                                Masculino<br>
                                <input type="radio"  id="Feminino" name="sexo_cliente" value="Feminino" required>
                                Feminino
                            </div>
                            <div class="form-group">
                                <label for="data_nascimento_cliente">Data de Nascimento</label>
                                <input type="date" class="form-control" id="data_nascimento_cliente" name="data_nascimento_cliente" placeholder="Nome do Cliente" required>
                            </div>
                            <div class="form-group">
                                <label for="observacao_cliente">Observação</label>
                                <input type="text" class="form-control" id="observacao_cliente" name="observacao_cliente" placeholder="Nome do Cliente" >
                            </div>
                            <div class="form-group">
                                <label for="nome">Usuario</label>
                                <input type="text" class="form-control" id="usuario_cliente" name="usuario_cliente" placeholder="Nome do Cliente" >
                            </div>
                            <div class="form-group">
                                <label for="nome">Senha</label>
                                <input type="text" class="form-control" id="senha_cliente" name="senha_cliente" placeholder="Nome do Cliente" >
                            </div>
                        </div>

                        <!-- /.box-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem
                        });
                        $('.jsonForm').trigger("reset");
                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
