{% extends 'layouts/dashboard.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Login
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}

{% block content %}
    <section class="content">

    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="../../index2.html" class="h4">Laboratório Santo Antônio</a>
                </div>
                <div class="card-body">
                    <form role="form" action="/login/verificaSenha" method="post" class="jsonForm">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Usuário" id="user_usuario" name="user_usuario" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" name="senha_usuario" id="senha_usuario" class="form-control" placeholder="senha_usuario" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem,
                            onClosed: function(){
                                document.location = "/inicial";
                            }
                        });

                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
