{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Convênio | Cadastrar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Convênio
                        <small>Cadastrar</small></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="breadcrumb-item active">Convênio</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="card card-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/convenio/salvarcadastrar" method="post" class="jsonForm">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nome_convenio">Nome</label>
                                <input type="text" class="form-control" id="nome_convenio" name="nome_convenio" placeholder="Nome do Convenio" required>
                            </div>
                            <div class="form-group">
                                <label for="cnpj_convenio">CNPJ</label>
                                <input type="text" class="form-control" id="cnpj_convenio" name="cnpj_convenio" placeholder="CNPJ do Convenio">
                            </div>
                            <div class="form-group">
                                <label for="responsavel_convenio">Responsável</label>
                                <input type="text" class="form-control" id="responsavel_convenio" name="responsavel_convenio" placeholder="Responsável do Convenio">
                            </div>
                            <div class="form-group">
                                <label for="telefone_convenio">Telefone</label>
                                <input type="text" class="form-control" id="telefone_convenio" name="telefone_convenio" placeholder="Telefone do Convenio">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem
                        });
                        $('.jsonForm').trigger("reset");
                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
