{% extends 'layouts/dashboard.html.twig' %}


{% block title %} | Convênio | Listagem{% endblock %}
{% block stylesheet %}
    <link href="/dist/js/jquery.bootgrid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}


{% block content %}
    <section class="content" id="listagem">
                <h3>Listagem de Convênios</h3>
        <div class="row">
            <div class="col-12">
                <a role="button" id="btn-listagem" href="/cliente/formCadastrar" class="btn btn-success"><span class="fas fa-user-plus"></span></a> 
                <table id="grid-data" class="table table-condensed table-bordered table-hover table-striped table-light">
                    <thead class="thead-light">
                    <tr>
                        <th data-column-id="id_convenio" >Código</th>
                        <th data-column-id="nome_convenio" data-order="desc" data-sortable="true">Nome</th>
                        <th data-column-id="cnpj_convenio" data-sortable="true">CNPJ</th>
                        <th data-column-id="responsavel_convenio" data-sortable="true">Responsável</th>
                        <th data-column-id="telefone_convenio" data-sortable="false">Telefone</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false">Ações</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.bootgrid.js"></script>
    <script src="/dist/js/jquery.bootgrid.fa.js"></script>
    <script src="/dist/js/iziToast.js"></script>
    <script src="/dist/js/iziToastExcluir.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        var grid;
        $(document).ready(function(){
            grid = $("#grid-data").bootgrid({
                ajax: true,
                url: "/convenio/bootgrid",
                formatters: {
                    "commands": function(column, row)
                    {
                        return "<button type=\"button\" class=\"btn btn-danger command-delete\" data-row-id=\"" + row.id_convenio + "\"><span class=\"fa fa-trash\"></span></button>" +
                         "<button type=\"button\" class=\"btn btn-primary command-edit\" data-row-id=\"" + row.id_convenio   + "\"><span class=\"fas fa-edit\"></span></button> ";
                    }
                }
            }).on("loaded.rs.jquery.bootgrid", function()
            {
                grid.find(".command-edit").on("click", function(e)
                {
                    document.location = '/convenio/formeditar/' + $(this).data("row-id");
                }).end().find(".command-delete").on("click", function(e)
                {
                    iziToastExcluir($(this).data("row-id"));
                });
            });
        });


        function excluir(id_convenio){
            $.post(
                "/convenio/excluir",
                { id_convenio: id_convenio },
                function( data ) {
                    if (data.status==0){
                        iziToast.error({
                            message: data.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: data.mensagem
                        });
                        grid.bootgrid("reload");
                    }
                },
                "json"
            );
        }
    </script>


{% endblock %}

{% block javascript %}
{% endblock %}
