{% extends 'layouts/dashboard.html.twig' %}

{% block title %} | Início{% endblock %}
{% block stylesheet %}

{% endblock %}

{% block content %}
<br>
<div class="carousel">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card mb-3" style="max-width: 1000px; margin:auto; padding-left: 10px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/dist/img/microscopio.jpg" class="card-img" style="height:350px; width:575px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="margin-left: 220px">
                        <h5 class="card-title carousel-title">Microscópio</h5>
                        <p class="card-text carousel-text">O microscópio é um instrumento óptico com capacidade de ampliar imagens de objetos muito pequenos graças ao seu poder de resolução.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="card mb-3" style="max-width: 1000px; margin:auto; padding-left: 10px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/dist/img/mindray.jpg" class="card-img" style="height:350px; width:575px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="margin-left: 220px">
                        <h5 class="card-title carousel-title">Analisador Hematológico</h5>
                        <p class="card-text carousel-text">BC-2800 é um analisador de hematologia compacto, totalmente automático, com 19 parâmetros para teste e tecnologia de microamostragem. A interface simples facilita um fluxo de trabalho eficiente.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="card mb-3" style="max-width: 1000px; margin:auto; padding-left: 10px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/dist/img/Homogeneizador.jpg" class="card-img" style="height:350px; width:575px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="margin-left: 220px">
                        <h5 class="card-title carousel-title">Homogeneizador de Sangue</h5>
                        <p class="card-text carousel-text">O Homogeneizador Para Tubos De Sangue, é um equipamento que serve para manter as células sanguíneas em uma suspensão homogênea, podendo preparar suspensões, dissolver amostras e lavar precipitados.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="card mb-3" style="max-width: 1000px; margin:auto; padding-left: 10px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/dist/img/estufa.png" class="card-img" style="height:350px; width:575px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="margin-left: 220px">
                        <h5 class="card-title carousel-title">Estufa de Secagem</h5>
                        <p class="card-text carousel-text">A Estufa de secagem para laboratório é um aparelho elétrico utilizado para secagem de substancias sólida, evaporação lentas de líquido, armazenagem de substancias liquidas com temperaturas baixas e secagem de vidrarias</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="card mb-3" style="max-width: 1000px; margin:auto; padding-left: 10px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/dist/img/centrifuga.jpg" class="card-img" style="height:350px; width:575px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="margin-left: 220px">
                        <h5 class="card-title carousel-title">Centrífuga de Tubos</h5>
                        <p class="card-text carousel-text">A centrífuga de Tubos utiliza a técnica da centrifugação para separar partículas biológicas em suspensão. O motor do equipamento possui alta velocidade de rotação e faz com que os materiais com densidades diferentes se separem.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="card mb-3" style="max-width: 1000px; margin:auto; padding-left: 10px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/dist/img/banhomaria.jpg" class="card-img" style="height:350px; width:575px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="margin-left: 220px">
                        <h5 class="card-title carousel-title">Banho-Maria</h5>
                        <p class="card-text carousel-text">O banho maria para laboratório é destinado a tarefas de laboratório onde se necessita a secagem, destilação e condensação de analises químicas.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="card mb-3" style="max-width: 1000px; margin:auto; padding-left: 10px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/dist/img/contador.png" class="card-img" style="height:350px; width:575px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="margin-left: 220px">
                        <h5 class="card-title carousel-title">Contador Diferencial de Células</h5>
                        <p class="card-text carousel-text">Contador Diferencial de Células é um equipamento destinado à contagem manual de células sanguíneas. Realiza a contagem diferencial, os valores leucócitos absoluto e relativo, VCM, HCM e CHCM</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="card mb-3" style="max-width: 1000px; margin:auto; padding-left: 10px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/dist/img/analisador.jpg" class="card-img" style="height:350px; width:575px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="margin-left: 220px">
                        <h5 class="card-title carousel-title">Analisador Bioquímico </h5>
                        <p class="card-text carousel-text">O Analisador Bioquímico possui a função de mensurar os índices bioquímicos através de análise do sangue e de outros fluidos corporais, combinando informações clínicas, afim de obter o diagnóstico de uma doença, ou avaliar as funções dos órgãos, identificando o gene da doença ou determinando a norma para uma futura terapia.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="card mb-3" style="max-width: 1000px; margin:auto; padding-left: 10px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/dist/img/coagulacao.jpg" class="card-img" style="height:350px; width:575px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="margin-left: 220px">
                        <h5 class="card-title carousel-title">Coagulometro</h5>
                        <p class="card-text carousel-text">O Coagulômetro mede a variação no movimento de esferas magnéticas permitindo calcular o tempo da coagulação do plasma.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

{% endblock %}


{% block javascriptPlugins %}

{% endblock %}

{% block jquery %}
{% endblock %}

{% block javascript %}

{% endblock %}
