<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% block meta %}{% endblock %}

    <title>Projeto Teste {% block title %}{% endblock %}</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/dist/css/customCss.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    {% block stylesheet %}{% endblock %}
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    {% include 'includes/navbar.html.twig' %}
    {% if (session.UsuarioLogado==true) %}
        {% include 'includes/sidebar.html.twig' %}
        asdf1
    {% elseif (session.ClienteLogado==true) %}
        asdf2
        {% include 'includes/sidebar.html.twig' %}
    {% else %}
        asdf3
        {{  session.id_usuario }}
    {% endif %}



    <div class="content-wrapper">
        {% block breadcrumb %}{% endblock %}

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% include 'includes/footer.html.twig' %}

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="/dist/js/adminlte.js"></script>

{% block javascriptPlugins %}{% endblock %}

{% block jquery %}{% endblock %}
{% block javascript %}{% endblock %}

</body>
</html>
