{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Médico {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
    <link rel="stylesheet" href="/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
{% endblock %}

{% block breadcrumb %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="card card-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/medico/salvarcadastrar" method="post" class="jsonForm">
                        <div class="card-body">
                            <div class="form-group row">
                                <h3>Cadastrar Profissional</h3>
                                <div class="form-group col">
                                    <a role="button" href="/medico/" class="btn btn-info float-right"   ><span class="fas fa-list"></span></a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="nome">Nome do Profissional</label>
                                    <input type="text" class="form-control" id="nome_medico" name="nome_medico" placeholder="Nome do Profissional" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="nome">Conselho Regional do Profissional</label>
                                    <input type="text" class="form-control" id="crm_medico" name="crm_medico" placeholder="Conselho Regional do Profissional">
                                </div>
                                <div class="form-group col">
                                    <label for="nome">Telefone do Profissional</label>
                                    <input type="text" class="form-control" id="telefone_medico" name="telefone_medico" placeholder="Telefone do Profissional" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="especialidade_medico">Especialidade</label>
                                    <select class="form-control select2" id="especialidade_medico" name="especialidade_medico" required data-live-search="true">
                                        <option value="" selected disabled>-Selecione a Especialidade-</option>
                                            {% for especialidades in especialidades %}
                                                <option value="{{ especialidades.id_especialidade }}">{{ especialidades.especialidade }}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right">Salvar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <script src="/plugins/inputmask/jquery.inputmask.min.js"></script>

{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('#telefone_medico').inputmask('(99) 9999-9999');

            $('.select2').select2({
                theme: 'bootstrap4'
            });

            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem
                        });
                        $('.jsonForm').trigger("reset");
                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
