<footer class="main-footer">
    <strong>Laboratório de Análises Clínicas Santo Antonio</strong>
    Todos os direitos reservados.
    <div class="float-right d-none d-sm-inline-block">
        <b>Versão</b> 0.9.5
    </div>
</footer>

